.logo {
  display: block;
  width: 100px;
  height: 19px;
}

.logo img {
  display: block;
}

@media (min-width: $tablet-width) {
  .logo {
    flex: 0 0 166px;
    width: 166px;
    height: 42px;
  }
}

@media (min-width: $desktop-width) {
  .logo {
    flex: 0 0 200px;
    width: 200px;
    height: 52px;
  }
}
