.about {
  position: relative;
  z-index: 6;
  padding: 32px 25px 60px;
  color: #ffffff;
  background-color: #192144;
  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 0;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.about__inner {
  margin: 0 auto;
  padding: 0 25px;
}

.about__inner p {
  margin: 0 0 20px;
  padding: 0;
  font-weight: 300;

  &:last-child {
    margin-bottom: 0;
  }
}

.about__inner b {
  display: block;
}

.about__header {
  margin: 0 0 20px;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #ff8d30;
}

.about__btn {
  display: none;
}

@media (min-width: $tablet-width) {
  .about {
    padding-right: 0;
    padding-bottom: 0;
    background-image: none;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .about__inner {
    padding: 2px 0 88px 50px;
    background-image: url("../img/about-tablet@1x.png");
    background-repeat: no-repeat;
    background-position: 98% 11px;
  }

  .about__header {
    position: relative;
    margin-bottom: 40px;
    padding-right: 372px;
    font-size: 45px;

    &::before {
      content: "";
      position: absolute;
      top: -37px;
      left: -35px;
      z-index: -1;
      width: 100%;
      height: 213px;
      background-color: #141b3b;
      border-radius: 20px;
    }
  }

  .about__inner p {
    margin-bottom: 35px;
    padding-right: 385px;

    &:last-of-type {
      margin-bottom: 55px;
    }
  }

  .about__inner b {
    font-size: 21px;
    line-height: 1.19;
  }

  .about__btn {
    display: flex;
    max-width: 274px;
  }
}

@media (min-width: $desktop-width) {
  .about {
    margin-top: -60px;
    padding-top: 134px;
    padding-left: 0;
    padding-bottom: 0;
  }

  .about__inner {
    max-width: $desktop-width;
    padding-left: 130px;
    padding-bottom: 163px;
    background-image: url("../img/about-desktop@1x.png");
    background-position: 93% 13px;
  }

  .about__header {
    max-width: 600px;
    margin-bottom: 58px;
    padding-top: 55px;
    padding-right: 0;

    &::before {
      top: -3px;
      left: -70px;
      width: 213px;
      height: 213px;
    }
  }

  .about__inner p {
    max-width: 630px;
    margin-bottom: 40px;
    padding-right: 0;

    &:last-of-type {
      margin-bottom: 88px;
      padding-right: 210px;
    }
  }
}
