.address {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  padding: 62px 25px 34px;
  color: #ffffff;
  background-color: #ffd74b;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.address__inner {
  margin: 0 auto;
}

.address__text {
  margin-top: 0;
  margin-bottom: 32px;
  font-weight: bold;
  color: #192144;
  text-transform: uppercase;

  &--iconed {
    position: relative;
    display: flex;
    align-items: center;
  }

  &--iconed::before {
    content: "";
    display: block;
    flex: 0 0 45px;
    width: 45px;
    height: 45px;
    margin-right: 16px;
    background-color: #121936;
    background-image: url("../img/icons/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
}

@media (min-width: $tablet-width) {
  .address {
    margin-top: -60px;
    padding: 107px 75px 85px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .address__text {
    margin-bottom: 45px;
    line-height: 1;

    &--iconed::before {
      flex: 0 0 67px;
      width: 67px;
      height: 67px;
      margin-right: 26px;
      background-size: 21px 31px;
    }
  }
}

@media (min-width: $desktop-width) {
  .address {
    padding: 0;
  }

  .address__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $desktop-width;
    margin-right: auto;
    margin-left: auto;
    padding: 118px 132px 60px;
  }

  .address__text {
    margin: 0;
    margin-right: 30px;

    &--iconed {
      margin-left: 273px;
    }

    &--iconed::before {
      position: absolute;
      top: 50%;
      left: -122px;
      flex: 0 0 90px;
      width: 90px;
      height: 90px;
      background-size: 28px 43px;
      transform: translateY(-50%);
    }
  }

  .address__btn {
    flex: 0 0 324px;
  }
}
