.address {
  position: relative;
  z-index: 1;
  margin-top: -30px;
  padding: 46px 25px 30px;
  color: #ffffff;
  background-color: #ffd74b;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.address__inner {
  width: 270px;
  margin: 0 auto;
  padding: 0;
}

.address__text {
  position: relative;
  margin-left: 61px;
  margin-bottom: 32px;
  font-weight: bold;
  color: #192144;
  text-transform: uppercase;

  &::before {
    content: "";
    position: absolute;
    left: -61px;
    display: block;
    width: 45px;
    height: 45px;
    background-color: #121936;
    background-image: url("../img/icons/contacts-location.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
  }
}

.address__btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 19px 21px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #192144;
  border: 3px solid #192144;
  border-radius: 10px;

  &:hover,
  &:focus {
    color: #ffffff;
    background-color: #192144;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  & svg {
    width: 10px;
    height: 14px;
  }

  &:hover svg,
  &:focus svg {
    fill: #ffffff;
  }

  &:active svg {
    opacity: 0.3;
  }
}
