.arrival__inner {
  padding: 0 5px;
}

.arrival__fieldset {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.arrival__label,
.arrival__unit {
  margin-bottom: 8px;
  font-weight: 500;
  line-height: 1;
  color: #1d2e5b;
  letter-spacing: 1.6px;
  text-transform: uppercase;
}

.arrival__unit {
  opacity: 0.3;
}

.arrival__controls-wrapper {
  position: relative;
  display: flex;
  width: 100%;
  height: 43px;
}

.arrival__input {
  width: 100%;
  text-align: center;
  border: 1px solid #cbced9;
  border-radius: 4px;

  &:hover {
    border-color: #959bb2;
  }

  &:active,
  &:focus {
    border-color: #161c35;
  }

  &:hover + .arrival__control::before {
    opacity: 0.6;
  }

  &:active + .arrival__control::before,
  &:focus + .arrival__control::before {
    opacity: 1;
  }
}

.arrival__control {
  position: absolute;
  width: 41px;
  height: 100%;
  padding: 14px;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    display: block;
    opacity: 0.2;
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.4;
  }

  &:active::before {
    opacity: 0.1;
  }

  &--decrease-quantity,
  &--decrease-duration {
    left: 0;
    border-radius: 4px 0 0 4px;
  }

  &--increase-quantity,
  &--increase-duration {
    right: 0;
    border-radius: 0 4px 4px 0;
  }

  &--decrease-quantity::before,
  &--decrease-duration::before {
    width: 14px;
    height: 2px;
    background-image: url("../img/icons/qty-minus-mobile.svg");
  }

  &--increase-quantity::before,
  &--increase-duration::before {
    width: 14px;
    height: 14px;
    background-image: url("../img/icons/qty-plus-mobile.svg");
  }
}

.arrival__with-kids {
  display: block;
  margin-bottom: 20px;
  cursor: pointer;
}

.arrival__with-kids span {
  display: inline-block;
  vertical-align: baseline;
  width: 26px;
  height: 26px;
  margin-right: 8px;
  padding: 2px 8px;
  background-color: #ffffff;
  border: 1px solid #cbced9;
  border-radius: 4px;
}

input[type="checkbox"] + .arrival__with-kids svg {
  opacity: 0;
}

input[type="checkbox"]:hover + .arrival__with-kids span,
input[type="checkbox"]:focus + .arrival__with-kids span {
  border-color: #959bb2;
}

input[type="checkbox"]:active + .arrival__with-kids span {
  background-color: #e2e5f1;
  border-color: #e2e5f1;
}

input[type="checkbox"]:checked + .arrival__with-kids svg {
  opacity: 1;
}

input[type="checkbox"]:active:checked + .arrival__with-kids svg {
  opacity: 0.3;
}

@media (min-width: $tablet-width) {
  .arrival__fieldset {
    position: relative;
    margin-bottom: 25px;

    &:nth-of-type(2) {
      order: 3;
      margin-bottom: 59px;
    }
  }

  .arrival__label,
  .arrival__unit {
    margin-bottom: 26px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .arrival__controls-wrapper {
    height: 70px;
  }

  .arrival__input,
  .arrival__with-kids {
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .arrival__with-kids-wrapper {
    margin-bottom: 24px;
    border-bottom: 1px solid #d6d9e6;
  }

  .arrival__with-kids {
    margin-bottom: 26px;
    text-transform: uppercase;
    color: #1d2e5b;

    & span {
      width: 36px;
      height: 36px;
      margin-right: 15px;
      padding: 7px 11px;
    }

    & svg {
      width: 12px;
      height: 12px;
    }
  }

  .arrival__control {
    width: 70px;
    padding: 25px;

    &--decrease-quantity::before,
    &--decrease-duration::before {
      width: 20px;
      background-image: url("../img/icons/qty-minus.svg");
    }

    &--increase-quantity::before,
    &--increase-duration::before {
      width: 20px;
      height: 20px;
      background-image: url("../img/icons/qty-plus.svg");
    }
  }

  .arrival__fieldsets-wrapper {
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .arrival__inner {
    margin-bottom: 56px;
    padding: 0;
  }

  .arrival__fieldsets-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  .arrival__fieldset {
    align-items: center;
    margin-bottom: 13px;

    &:nth-of-type(2) {
      margin-bottom: 0;
    }
  }

  .arrival__controls-wrapper {
    width: 181px;
    margin-right: 35px;
  }

  .arrival__label {
    min-width: 222px;
    margin-bottom: 0;
  }

  .arrival__unit {
    order: 3;
    margin-bottom: 0;
    opacity: 1;
  }

  .arrival__control {
    width: 58px;
    padding: 25px 19px;
  }

  .arrival__with-kids-wrapper {
    margin-bottom: 0;
    padding-top: 17px;
    border: none;
  }
}
