.calendar {
  max-width: 220px;
  margin-left: auto;
  margin-right: auto;
}

.calendar__header {
  display: flex;
  margin-bottom: 20px;
  padding: 12px 0;
  border-top: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;
}

.calendar__month {
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  line-height: 1;
  text-align: center;
  color: #1d2e5b;
}

.calendar__control {
  padding: 0;
  background-color: transparent;
  border: none;

  &::before {
    content: "";
    display: block;
    width: 9px;
    height: 17px;
    opacity: 0.3;
    background-repeat: no-repeat;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.5;
  }

  &:active::before {
    opacity: 0.1;
  }

  &--prev::before {
    background-image: url("../img/icons/month-arrow-left.svg");
  }

  &--next::before {
    background-image: url("../img/icons/month-arrow-right.svg");
  }
}

.calendar__week {
  display: flex;
  justify-content: space-between;
  margin: 0 0 8px;
  padding: 0;
  list-style: none;
}

.calendar__weekday {
  flex: 0 0 30px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;

  &--weekend {
    color: #ff5c23;
  }

  & span {
    display: none;
  }
}

.calendar__days-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 23px;
  margin-left: 1px;
  padding: 0;
  list-style: none;
}

.calendar__day {
  display: block;
  width: 32px;
  height: 32px;
  margin-bottom: -1px;
  margin-right: -1px;
  padding-top: 6px;
  font-size: 14px;
  line-height: 1.29;
  text-align: center;
  background-color: $main-bg;
  border: 1px solid #cbced9;
  cursor: pointer;

  &--disabled {
    color: rgba(68, 68, 68, 0.3);
    background-color: #ffffff;
  }

  &--active {
    color: #ffffff;
    background-color: #1d2e5b;
  }

  &--current {
    position: relative;
    border: 2px solid #ff5c23;
  }

  &--first-day span,
  &--departure span,
  &--arrival span {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .calendar {
    max-width: 530px;
    margin-left: auto;
    margin-right: auto;
  }

  .calendar__header {
    padding: 24px 0;
  }

  .calendar__month {
    font-size: 36px;
  }

  .calendar__control {
    &::before {
      width: 15px;
      height: 28px;
      background-size: 15px 28px;
    }
  }

  .calendar__weekday {
    flex: 0 0 76px;
    font-size: 18px;
    line-height: 1.67;
    letter-spacing: 1.8px;

    span {
      display: inline-block;
    }
  }

  .calendar__days-list {
    margin-left: 2px;
    margin-bottom: 47px;
  }

  .calendar__day {
    width: 76px;
    height: 70px;
    padding-top: 26px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;

    &--current {
      padding: 22px;
      border-width: 4px;
    }
  }
}

@media (min-width: $desktop-width) {
  .calendar {
    max-width: 100%;
  }

  .calendar__header {
    margin-bottom: 11px;
  }

  .calendar__week {
    margin-bottom: 14px;
  }

  .calendar__weekday {
    flex: 0 0 143px;
    padding-left: 16px;
    text-align: left;
  }

  .calendar__days-list {
    margin-left: 0;
  }

  .calendar__day {
    position: relative;
    width: 144px;
    height: 72px;
    padding: 12px 18px;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 1.8px;
    text-align: left;

    &:hover {
      z-index: 1;
      border: 4px solid #ff5c23;
    }

    &--first-day span {
      display: inline-block;
      vertical-align: baseline;
    }

    &--departure span,
    &--arrival span {
      display: block;
      margin-top: 10px;
    }

    &--current {
      border: 1px solid;
    }
  }

  .calendar__control {
    &::before {
      width: 18px;
      height: 34px;
      background-size: 18px 34px;
    }
  }
}
