.countries {
  margin: 0 0 38px;
  padding: 0;
  list-style: none;
}

.countries__link {
  display: block;
  color: $basic-text;

  &:hover,
  &:focus {
    color: #1d2e5b;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .countries__link {
    font-size: 20px;
    line-height: 1.5;
  }
}

@media (min-width: $desktop-width) {
  .countries--list {
    margin-bottom: 46px;
  }
}
