.entertainment__inner {
  padding: 0 5px;
}

.entertainment__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  &--chain::before {
    content: "";
    position: absolute;
    top: 13px;
    left: -14px;
    width: 2px;
    height: 282px;
    background-color: #1d2e5b;
  }
}

.entertainment__item {
  position: relative;
  margin-bottom: 23px;

  &:last-of-type {
    margin-bottom: 24px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -3px;
    width: 6px;
    height: 6px;
    background-color: #1d2e5b;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 12px;
    left: -14px;
    width: 15px;
    height: 2px;
    background-color: #1d2e5b;
  }
}

.entertainment__country-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 14px;
}

.entertainment__country {
  position: relative;
  width: 156px;
  padding-left: 12px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  color: #1d2e5b;

  &::after {
    content: "";
    position: absolute;
    right: -19px;
    top: -3px;
    width: 5px;
    height: 24px;
    box-shadow: -21px 0 12px 4px #ffffff;
  }
}

.entertainment__flag {
  display: block;
  width: 35px;
  height: 24px;
}

.entertainment__plan {
  display: block;
  padding: 8px 12px;
  width: 100%;
  min-height: 220px;
  resize: none;
  border-radius: 4px;
  border: solid 1px #cbced9;

  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &::-moz-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    border-color: #959bb2;
  }

  &:active,
  &:focus {
    border-color: #161c35;
  }
}

.entertainment__plan-box--error {
  position: relative;

  &::before {
    content: "Это поле должно быть заполнено";
    position: absolute;
    bottom: 0;
    margin: 0;
    width: 100%;
    padding: 13px 15px;
    color: #ff0000;
    background-color: #ffefef;
    border: 1px solid #f47e7e;
    border-top: none;
    border-radius: 0 0 4px 4px;
  }
}

.entertainment__plan-box--error .entertainment__plan {
  border-color: #f47e7e;
}

@media (min-width: $tablet-width) {
  .entertainment__list {
    margin-right: 30px;
    padding: 0;

    &--chain::before {
      top: 33px;
      left: auto;
      right: -29px;
      width: 3px;
      height: 247px;
    }
  }

  .entertainment__country-wrapper {
    margin-bottom: 30px;
  }

  .entertainment__country {
    width: 100%;
    padding-left: 0;
    font-size: 30px;
    font-weight: bold;

    &::after {
      display: none;
    }
  }

  .entertainment__flag {
    width: 70px;
    height: 47px;
  }

  .entertainment__item {
    margin-bottom: 42px;

    &::before {
      top: 18px;
      right: -35px;
      left: auto;
      width: 15px;
      height: 15px;
    }

    &::after {
      display: none;
    }

    &:last-of-type {
      margin-bottom: 47px;
    }
  }

  .entertainment__plan-box {
    &--error::before {
      font-size: 20px;
    }
  }

  .entertainment__plan {
    min-height: 142px;
    padding: 15px 100px 15px 17px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .entertainment__inner {
    margin-bottom: 56px;
    padding: 0;
  }

  .entertainment__item {
    margin-bottom: 46px;

    &::before {
      top: 14px;
      right: 189px;
    }
  }

  .entertainment__country-wrapper {
    align-items: flex-start;
    max-width: 884px;
    margin-bottom: 26px;
  }

  .entertainment__country {
    margin-top: 4px;
    margin-bottom: 0;
  }

  .entertainment__plan {
    max-width: 730px;
    padding: 22px 15px 22px 25px;
  }

  .entertainment__plan-box {
    max-width: 730px;
  }

  .entertainment__list--chain {
    &::before {
      top: 24px;
      right: 195px;
      height: 258px;
    }
  }
}
