.entertainment__inner {
  padding: 0 5px;
}

.entertainment__list {
  position: relative;
  margin: 0;
  padding: 0;
  list-style: none;

  &--chain::before {
    content: "";
    position: absolute;
    top: 10px;
    left: -14px;
    width: 2px;
    height: 279px;
    background-color: #1d2e5b;
  }
}

.entertainment__item {
  position: relative;
  margin-bottom: 25px;

  &:last-of-type {
    margin-bottom: 22px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 6px;
    left: -3px;
    width: 6px;
    height: 6px;
    background-color: #1d2e5b;
    border-radius: 50%;
  }

  &::after {
    content: "";
    position: absolute;
    top: 8px;
    left: -14px;
    width: 15px;
    height: 2px;
    background-color: #1d2e5b;
  }
}

.entertainment__country-wrapper {
  display: flex;
  justify-content: space-between;
}

.entertainment__country {
  position: relative;
  width: 156px;
  padding-left: 12px;
  margin-bottom: 17px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1;
  white-space: nowrap;
  overflow: hidden;
  color: #1d2e5b;

  &::after {
    content: "";
    position: absolute;
    right: -19px;
    top: -3px;
    width: 5px;
    height: 24px;
    box-shadow: -21px 0 12px 4px #ffffff;
  }
}

.entertainment__flag {
  display: block;
  width: 35px;
  height: 24px;
}

.entertainment__plan {
  display: block;
  padding: 13px 15px;
  width: 100%;
  min-height: 220px;
  resize: none;
  border-radius: 4px;
  border: solid 1px #cbced9;

  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &::-moz-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.3);
  }

  &:hover {
    border-color: #959bb2;
  }

  &:active,
  &:focus {
    border-color: #161c35;
  }
}

.entertainment__error {
  display: none; //temp
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 13px 15px;
  color: #ff0000;
  background-color: #ffefef;
  border: 1px solid #f47e7e;
  border-top: none;
  border-radius: 0 0 4px 4px;
}

@media (min-width: $tablet-width) {
  .entertainment__list {
    margin-right: 30px;

    &--chain::before {
      top: 21px;
      left: auto;
      right: -29px;
      width: 3px;
      height: 247px;
    }
  }

  .entertainment__country {
    width: 100%;
    margin-bottom: 37px;
    padding-left: 0;
    font-size: 30px;
    font-weight: bold;

    &::after {
      display: none;
    }
  }

  .entertainment__flag {
    width: 70px;
    height: 47px;
  }

  .entertainment__item {
    margin-bottom: 49px;

    &::before {
      right: -35px;
      left: auto;
      width: 15px;
      height: 15px;
    }

    &::after {
      display: none;
    }

    &:last-of-type {
      margin-bottom: 47px;
    }
  }

  .entertainment__plan {
    min-height: 142px;
    padding: 15px 17px;
    font-size: 20px;
    line-height: 1.2;
  }
}
