.header {
  min-height: 73px;
  background-color: #161c35;

  &--inner-page {
    background-color: #161c35;
  }
}

.header__nav {
  background-color: #161c35;

  &--expanded,
  &--nojs {
    padding-bottom: 28px;
  }

  &--sticky {
    position: fixed;
    top: 0;
    z-index: 9;
    width: 100%;
    background-color: #ffffff;
  }

  &--expanded:not(.header__nav--nojs) {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 15;
  }
}

.header__nav .main-nav,
.header__nav .header__auth,
.header__nav .header__contacts,
.header__nav.header__nav--expanded .main-nav,
.header__nav.header__nav--expanded .header__auth,
.header__nav.header__nav--expanded .header__contacts {
  display: block;
}

.header__nav .header__social-links,
.header__nav.header__nav--expanded .header__social-links {
  display: flex;
}

.header__nav .main-nav,
.header__nav .header__auth,
.header__nav .header__contacts,
.header__nav .header__social-links {
  display: none;
}

.header__nav--nojs .main-nav,
.header__nav--nojs .header__auth,
.header__nav--nojs .header__contacts {
  display: block;
}

.header__nav--nojs .header__social-links {
  display: flex;
}

.header__sticky {
  display: flex;
  justify-content: space-between;
}

.header__nav .header__logo--blue {
  display: none;
}

.header__nav .header__logo--white {
  display: block;
}

.header__nav--expanded .header__logo--white,
.header__nav--sticky .header__logo--white {
  display: none;
}

.header__nav--expanded .header__logo--blue,
.header__nav--sticky .header__logo--blue {
  display: block;
}

.header__menu-trigger {
  padding: 21px 24px;
  width: 82px;
  height: 74px;
  margin-top: -1px;
  margin-right: -3px;
  background-color: transparent;
  border: none;
}

.header__nav--closed .header__menu-icon {
  margin-top: 6px;
  fill: #ffffff;
}

.header__nav--sticky .header__menu-icon {
  fill: #cccccc;
}

.header__nav--nojs .header__menu-icon,
.header__nav--expanded .header__menu-icon {
  fill: transparent;
}

.header__nav--nojs .header__menu-trigger {
  display: none;
}

.header__nav--expanded .header__menu-trigger {
  background-image: url("../img/icons/menu-close.svg");
  background-repeat: no-repeat;
  background-position: center center;
}

.header__logo {
  width: 150px;
  height: 73px;
}

.header__logo img {
  padding: 27px 25px 21px;
}

.header__logo--inner-page {
  height: 67px;
}

.header__nav--inner-page:not(.header__nav--sticky) .header__menu-trigger {
  margin-top: -9px;
}

.header__logo--inner-page img {
  padding-top: 19px;
}

.header__auth {
  display: block;
  margin: 0 25px 51px;
  padding: 10px;
  border-radius: 25px;
}

.header__contacts {
  margin-bottom: 30px;
}

.header__contacts .contacts__item {
  margin: 0 auto;
  max-width: 270px;
}

.header__contacts .contacts__link {
  color: #192144;
}

.header__social-links {
  justify-content: center;
}

.header__social-links .social-links__link,
.header__social-links .social-links__link:hover,
.header__social-links .social-links__link:focus,
.header__social-links .social-links__link:active {
  background-color: transparent;
}

.header__social-links .social-links__link {
  background-repeat: no-repeat;
  background-position: center center;

  &--fb {
    background-image: url("../img/icons/facebook.svg");
    background-size: 11px 21px;
  }

  &--vk {
    background-image: url("../img/icons/vk.svg");
    background-size: 23px 12px;
  }

  &--insta {
    background-image: url("../img/icons/instagram.svg");
    background-size: 18px 18px;
  }

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .header {
    min-height: 131px;
  }

  .header__nav {
    background-color: #161c35;

    &--home {
      background-color: #121c42;
    }

    &--expanded,
    &--nojs {
      padding-bottom: 74px;
    }

    &--sticky {
      background-color: #ffffff;
    }
  }

  .header__nav .header__auth {
    display: block;
  }

  .header__nav .main-nav,
  .header__nav .header__contacts,
  .header__nav.header__nav--expanded .main-nav,
  .header__nav.header__nav--expanded .header__contacts {
    display: block;
  }

  .header__nav .header__social-links,
  .header__nav.header__nav--expanded .header__social-links {
    display: flex;
  }

  .header__nav .main-nav,
  .header__nav .header__contacts,
  .header__nav .header__social-links {
    display: none;
  }

  .header__nav--nojs .main-nav,
  .header__nav--nojs .header__contacts {
    display: block;
  }

  .header__nav--nojs .header__social-links {
    display: flex;
  }

  .header__logo--inner-page {
    height: 67px;
  }

  .header__sticky {
    width: 55%;
  }

  .header__logo {
    flex: 0 0 205px;
    width: 205px;
    height: 132px;
  }

  .header__logo img {
    padding: 46px 0 0 39px;
  }

  .header__nav--inner-page:not(.header__nav--sticky) .header__menu-trigger {
    margin-top: 28px;
  }

  .header__logo--inner-page img {
    padding-top: 49px;
  }

  .header__menu-trigger {
    margin-top: 28px;
  }

  .header__nav--closed .header__menu-icon {
    margin-top: 0;
    margin-bottom: 3px;
  }

  .header__dropdown {
    padding-left: 72px;
  }

  .header__contacts {
    margin-bottom: 116px;
  }

  .header__contacts .contacts__item {
    margin: auto;
    max-width: none;
  }

  .header__auth {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 189px;
    margin: 0;
  }

  .header__social-links {
    justify-content: flex-start;
  }

  .header__social-links .social-links__link {
    &--fb {
      background-size: 14px 28px;
    }

    &--vk {
      background-size: 31px 16px;
    }

    &--insta {
      background-size: 24px 24px;
    }
  }
}

@media (max-width: $tablet-width-only) {
  .header__nav {
    &--expanded,
    &--nojs {
      background-color: #ffffff;
    }
  }

  .header__nav--nojs .header__logo--white {
    display: none;
  }

  .header__nav--nojs .header__logo--blue {
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .header {
    min-height: 110px;
    background-color: #161c34;
  }

  .header__nav {
    padding: 0;
    background-color: #161c34;

    &--sticky {
      background-color: #ffffff;
    }
  }

  .header__nav .header__auth,
  .header__nav .main-nav {
    display: block;
  }

  .header__nav .header__contacts {
    display: flex;
  }

  .header__menu-trigger,
  .header__nav .header__social-links,
  .header__nav.header__nav--expanded .header__social-links {
    display: none;
  }

  .header__nav--sticky .header__sticky {
    padding: 20px 0 18px;
  }

  .header__sticky {
    width: auto;
    padding: 48px 0 10px;
  }

  .header__nav .main-nav__link {
    color: #ffffff;
  }

  .header__nav--sticky .main-nav__link {
    color: #192144;
  }

  .header__inner {
    position: relative;
    max-width: $desktop-width;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 0 60px;
  }

  .header__logo {
    flex: 0 0 200px;
    width: 200px;
    height: 52px;
  }

  .header__logo img {
    padding: 0;
  }

  .header__main-nav {
    position: relative;
    max-width: 700px;
    padding: 48px 0 10px 45px;
    margin: 0 0 0 100px;

    &::before {
      content: "";
      position: absolute;
      top: 73px;
      left: -60px;
      width: 60px;
      height: 2px;
      background-color: #ffffff;
    }
  }

  .header__nav--sticky .header__main-nav {
    padding-top: 0;

    &::before {
      top: 17px;
      background-color: #192144;
    }
  }

  .header__dropdown {
    padding: 0;
  }

  .header__auth {
    position: absolute;
    top: 48px;
    right: 60px;
  }

  .header__contacts {
    position: absolute;
    top: 48px;
    right: 249px;
    display: flex;
    margin: 0;
  }

  .header__nav--sticky .header__auth,
  .header__nav--sticky .header__contacts,
  .header__nav--sticky .header__main-nav {
    top: 20px;
  }

  .header__contacts .contacts__item {
    flex: 0 0 50px;
  }
}
