.letters {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 25px 1px;
  padding: 0;
  list-style: none;
}

.letters__link {
  display: block;
  width: 45px;
  height: 42px;
  margin-left: -1px;
  margin-bottom: -1px;
  padding-top: 12px;
  font-size: 14px;
  line-height: 1.29;
  color: #1d2e5b;
  text-align: center;
  background-color: #ffffff;
  border: 1px solid #cbced9;

  &:hover,
  &:focus {
    border-color: #959bb2;
  }

  &--active,
  &:active {
    color: #ffffff;
    background-color: #1d2e5b;
  }
}

.letters__item:nth-child(5n) .letters__link {
  width: 44px;
}

@media (min-width: $tablet-width) {
  .letters__item:nth-child(5n) .letters__link {
    width: 54px;
  }
}

@media (min-width: $desktop-width) {
  .letters__letter {
    display: block;
    margin-bottom: 32px;
    font-size: 60px;
    font-weight: bold;
    line-height: 1;
    color: #192144;
  }

  .letters__item--countries {
    width: 20%;
  }
}
