.main-nav {
  margin-top: 44px;
  margin-bottom: 50px;
}

.main-nav__list {
  padding: 0;
  list-style: none;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #192144;
  text-transform: uppercase;
}
