.main-nav {
  margin-top: 44px;
  margin-bottom: 50px;
}

.main-nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav__item {
  text-align: center;
}

.main-nav__link {
  font-size: 30px;
  font-weight: 500;
  line-height: 1.2;
  color: #192144;
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: #ffd74b;
  }

  &:active {
    color: rgba(255, 215, 75, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    margin-top: 52px;
    margin-bottom: 135px;
  }

  .main-nav__item {
    text-align: left;
  }

  .main-nav__link {
    font-size: 60px;
    line-height: 1.18;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    position: absolute;
    left: 450px;
    margin: 0;
  }

  .main-nav__list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 8px;
  }

  .main-nav__link {
    margin-right: 34px;
    font-size: 20px;
    line-height: 1.5;
  }
}
