.map {
  height: 546px;
  margin-top: -30px;
  background-image: url("../img/map.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}

.map__iframe {
  width: 100%;
  height: 100%;
  border: none;
}

@media (min-width: $tablet-width) {
  .map {
    height: 674px;
    margin-top: -60px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }
}
