.pagination {
  padding: 0 25px;
}

.pagination__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;

  &--numbers {
    display: none;
  }
}

.pagination__item {
  width: 50%;
}

.pagination__link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: #ffffff;

  &::before {
    content: "";
    display: block;
    width: 10px;
    height: 20px;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}

.pagination__link--prev {
  border-right: 1px solid $main-bg;
  border-radius: 20px 0 0 20px;

  &::before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 9px solid #192144;
  }
}

.pagination__link--next {
  border-radius: 0 20px 20px 0;

  &::before {
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 9px solid #192144;
  }
}

@media (min-width: $tablet-width) {
  .pagination {
    display: flex;
    justify-content: space-between;
    padding: 25px 19px 25px 28px;
    background-color: #ffffff;
    border-radius: 20px;
  }

  .pagination__list--numbers {
    display: flex;
  }

  .pagination__number {
    display: block;
    width: 50px;
    height: 50px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    color: #161c35;
    background-color: transparent;
    border-radius: 50%;

    &:hover,
    &:focus {
      color: rgba(22, 28, 53, 0.6);
    }

    &--active {
      background-color: #ffd74b;
    }
  }

  .pagination__link {
    width: 42px;
    border: none;
  }
}

@media (min-width: $desktop-width) {
  .pagination {
    padding-right: 26px;
  }

  .pagination__link {
    width: 43px;
  }
}
