.promo {
  color: #ffffff;
  background-color: #0f1632;
}

.promo__inner {
  margin: 0 auto;
  padding: 25px 25px 39px;
  background-image: url("../img/traveller-illustration-mobile@1x.png"), url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: 54% 21%, 0 -37%;
}

.promo__title {
  max-width: 240px;
  margin: 0 auto 247px;
  font-size: 36px;
  font-weight: bold;
  line-height: 1.11;
  text-align: center;
}

.promo__nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 0 30px;
  padding: 0;
  list-style: none;
}

.promo__nav-link {
  display: block;

  &--rounded {
    width: 40px;
    height: 40px;
    padding: 11px;
    border-radius: 50%;
  }

  & svg {
    fill: #161c35;
  }

  &:active svg {
    opacity: 0.3;
  }
}

.promo__nav-link--phone {
  background-color: #ff8d30;

  &:hover,
  &:focus {
    background-color: #f26926;
  }
}

.promo__nav-link--mail {
  background-color: #ffbd30;

  &:hover,
  &:focus {
    background-color: #ff8d30;
  }
}

.promo__nav-link--auth {
  min-width: 190px;
  padding: 5px 15px;
}

.promo__review {
  padding-left: 25px;
  padding-right: 75px;
}

.promo__steps {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
}

.promo__steps-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 100%;
  padding-top: 20px;
  padding-left: 25px;
  padding-right: 23px;
  padding-bottom: 33px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1;
  color: #161c35;
  counter-increment: promo__steps;
  background-color: #ffd74b;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  &::before {
    content: "" counter(promo__steps);
    display: block;
    color: #ffffff;
  }

  &:not(:first-child) {
    margin-top: -10px;
  }

  &:nth-child(4n-3) {
    background-color: #ff8d30;
  }

  &:nth-child(2n) {
    background-color: #ffa530;
  }

  &:nth-child(4n-1) {
    background-color: #ffbd30;
  }

  &:nth-child(4n) {
    background-color: #ffd74b;
  }

  &:last-child {
    padding-bottom: 23px;
    border-radius: 10px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background-color: #182044;
  }

  .promo__inner {
    width: auto;
    padding: 25px 20px 101px 40px;
    background-image: url("../img/traveller-illustration-tablet@1x.png"), url("../img/globe-back-tablet@1x.jpg");
    background-position: 73% 43%, -364px 247px;
  }

  .promo__nav {
    display: none;
  }

  .promo__title {
    max-width: 410px;
    margin-bottom: 90px;
    font-size: 60px;
    line-height: 1.17;
  }

  .promo__review {
    max-width: 305px;
    margin-bottom: 208px;
    padding-left: 35px;
    padding-right: 0;
  }

  .promo__steps-item {
    flex-direction: column-reverse;
    width: 50%;
    padding: 28px 30px 23px;
    font-size: 24px;

    &::before {
      margin-top: 8px;
      font-size: 30px;
      left: 4px;
    }

    &:not(:first-child) {
      margin-top: 0;
    }

    &:nth-child(4n-3) {
      border-radius: 20px 0 0 0;
    }

    &:nth-child(2n) {
      margin-left: -20px;
      border-radius: 20px 20px 0 0;
    }

    &:nth-child(4n-1) {
      border-radius: 0 0 0 20px;
    }

    &:nth-child(4n) {
      margin-left: -20px;
      border-radius: 0 0 20px 20px;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo__inner {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: $desktop-width;
    padding: 120px 25px 122px 60px;
    background-color: #161c34;
    background-image: url("../img/traveller-illustration-desktop@1x.png"), url("../img/globe-back-desktop@1x.jpg");
    background-position: 59% bottom, -200px bottom;
  }

  .promo__title {
    max-width: 480px;
    margin: 0 0 100px;
    padding-left: 66px;
    text-align: left;
  }

  .promo__review {
    flex-basis: 265px;
    margin-right: 80px;
    margin-bottom: 100px;
    padding: 0;
  }

  .promo__steps {
    width: 100%;
  }

  .promo__steps-item {
    flex-direction: row-reverse;
    width: 25%;
    padding: 27px 51px 30px 34px;

    &::before {
      margin-top: 0;
      font-size: 24px;
    }

    &:nth-child(4n-3) {
      width: 335px;
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(2n) {
      width: 365px;
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(4n-1) {
      width: 365px;
      margin-left: -20px;
      border-radius: 20px 0 0 20px;
    }

    &:nth-child(4n),
    &:last-child {
      width: 315px;
      padding-right: 32px;
      border-radius: 20px;
    }
  }
}
