.rates {
  position: relative;
  z-index: 3;
  margin-top: -30px;
  padding: 80px 25px 36px;
  background-color: $main-bg;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.rates__inner {
  margin: 0 auto;
  padding-left: 25px;

  &::after {
    content: "";
    position: absolute;
    top: 66px;
    right: 26px;
    width: 99px;
    height: 99px;
    background-image: url("../img/rates@1x.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
}

.rates__header {
  display: flex;
  align-items: center;
  min-height: 72px;
  margin: 0 0 45px;
  padding-right: 135px;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #ff8d30;
}

.rates__list {
  margin: 0 0 27px;
  padding: 0;
  list-style: none;
}

.rates__item {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: flex-start;
  counter-increment: rates__list;

  &::before {
    content: "" counter(rates__list);
    flex: 0 0 34px;
    width: 34px;
    height: 34px;
    margin-top: 4px;
    margin-left: 10px;
    padding-top: 10px;
    line-height: 1;
    text-align: center;
    color: #ffffff;
    background-color: #ffd74b;
    border-radius: 50%;
  }

  &:nth-child(1)::before {
    background-color: #ffa530;
  }

  &:nth-child(2)::before {
    background-color: #ffbd30;
  }

  &:first-child .rates__option {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}

.rates__option {
  width: 100%;
  margin: 0;
  padding: 10px 0 11px;
  font-weight: 300;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.rates__price {
  display: block;
}

.rates__btn {
  display: block;
  font-weight: bold;
  color: #192144;

  & svg {
    display: none;
  }

  &:hover,
  &:focus {
    color: rgba(19, 37, 118, 0.7);
  }

  &:active {
    color: rgba(19, 37, 118, 0.3);
  }

  &:active svg {
    opacity: 0.3;
  }
}

@media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
  .rates__inner {
    &::after {
      background-image: url("../img/rates@2x.png");
      background-size: 99px auto;
    }
  }
}

@media (min-width: $tablet-width) {
  .rates {
    margin-bottom: -60px;
    padding-top: 100px;
    padding-bottom: 64px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .rates__inner {
    position: relative;
    padding-left: 14px;
    padding-right: 14px;

    &::after {
      top: 340px;
      right: 60px;
    }
  }

  .rates__header {
    display: block;
    min-height: auto;
    margin-bottom: 76px;
    padding-right: 0;
    font-size: 45px;
    text-align: center;
  }

  .rates__list {
    margin-bottom: 34px;
    padding-right: 34px;

    &::after {
      content: "";
      position: absolute;
      top: 80px;
      right: 15px;
      z-index: -1;
      width: 198px;
      height: 285px;
      background-color: #e2e5f2;
      border-radius: 20px;
    }
  }

  .rates__item {
    flex-direction: row;

    &::before {
      width: 67px;
      height: 67px;
      margin-top: 0;
      margin-left: 0;
      margin-right: 23px;
      padding-top: 21px;
      flex-basis: 67px;
    }
  }

  .rates__option {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
  }

  .rates__btn {
    display: flex;
    align-items: center;
    max-width: 380px;
    font-size: 20px;
    line-height: 1;
    color: #132576;

    & span {
      width: 67px;
      height: 67px;
      margin-right: 23px;
      padding-top: 23px;
      background-color: #e2e5f2;
      border-radius: 50%;
    }

    & svg {
      display: block;
      margin: auto;
    }

    &:hover svg,
    &:focus svg {
      opacity: 0.7;
    }

    &:active svg {
      opacity: 0.3;
    }
  }
}

@media (min-width: $desktop-width) {
  .rates {
    padding-top: 133px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 164px;
  }

  .rates__inner {
    max-width: $desktop-width;
    margin-left: auto;
    margin-right: auto;
    padding-right: 130px;
    padding-left: 130px;

    &::after {
      top: 184px;
      right: 132px;
      width: 198px;
      height: 198px;
    }
  }

  .rates__header {
    margin-bottom: 136px;
  }

  .rates__list {
    max-width: 905px;
    padding-right: 0;

    &::after {
      top: 132px;
      right: 246px;
      width: 444px;
      height: 300px;
    }
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    .rates__inner {
      &::after {
        background-size: 198px auto;
      }
    }
  }
}
