.regions {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 25px;
  list-style: none;
}

.regions__link {
  display: block;
  font-weight: bold;
  color: rgba(25, 33, 68, 0.3);
  text-transform: uppercase;

  &:hover,
  &:focus {
    color: rgba(25, 33, 68, 0.6);
  }

  &:active,
  &--active {
    color: #192144;
  }
}

@media (min-width: $tablet-width) {
  .regions__link {
    margin-right: 26px;
    font-size: 20px;
    line-height: 1.2;
  }
}
