.transport {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

.transport__item {
  position: relative;
  cursor: pointer;
  width: 33px;
  height: 33px;
  text-align: center;
  background-color: $main-bg;
  border-radius: 50%;
}

.transport__item svg {
  margin-top: 8px;
}

.transport__item.tooltip {
  &:hover::before {
    top: 34px;
  }

  &:hover::after {
    top: 42px;
  }
}

.transport__label {
  display: block;
  width: 33px;
  height: 33px;
  text-align: center;
  background-color: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

input[type="checkbox"] + .transport__label svg {
  opacity: 0.15;
}

input[type="checkbox"]:hover + .transport__label svg,
input[type="checkbox"]:focus + .transport__label svg {
  opacity: 0.3;
}

input[type="checkbox"]:active + .transport__label {
  background-color: #e2e5f1;
}

input[type="checkbox"]:active + .transport__label svg {
  opacity: 0.1;
}

input[type="checkbox"]:checked + .transport__label svg {
  opacity: 1;
}

input[type="checkbox"]:hover:checked + .transport__label svg,
input[type="checkbox"]:focus:checked + .transport__label svg {
  opacity: 0.7;
}

input[type="checkbox"]:active:checked + .transport__label {
  background-color: #e2e5f1;
}

input[type="checkbox"]:active:checked + .transport__label svg {
  opacity: 0.3;
}

.transport__item--no-bg {
  background-color: transparent;
}

.transport__item--no-bg svg {
  margin-top: 0;
}

.transport__item--no-bg.tooltip {
  &:hover::before {
    top: 34px;
  }

  &:hover::after {
    top: 40px;
  }
}

.transport__item--no-bg.transport__item--plane svg {
  width: 19px;
  height: 21px;
}

.transport__item--no-bg.transport__item--car svg {
  width: 17px;
  height: 21px;
}

.transport__item--no-bg.transport__item--bike svg {
  width: 24px;
  height: 21px;
}

.transport__item--no-bg.transport__item--by-foot svg {
  width: 20px;
  height: 21px;
}

.transport__item.transport__item--disabled svg {
  opacity: 0.15;
}

@media (min-width: $tablet-width) {
  .transport__item,
  .transport__label {
    width: 43px;
    height: 43px;
  }

  .transport__item svg {
    margin-top: 11px;
  }

  .transport__item--plane svg {
    width: 19px;
    height: 21px;
  }

  .transport__item--car svg {
    width: 17px;
    height: 21px;
  }

  .transport__item--bike svg {
    width: 24px;
    height: 21px;
  }

  .transport__item--by-foot svg {
    width: 20px;
    height: 21px;
  }

  .transport__item--no-bg.tooltip {
    &:hover::before {
      top: 34px;
    }

    &:hover::after {
      top: 41px;
    }
  }
}
