.travelmates--preview {
  position: relative;
  z-index: 4;
  margin-top: -30px;
  padding: 102px 25px 30px;
  color: #ffffff;
  background-color: #192144;
  background-image: url("../img/smolov-back-desktop@1x.png"), url("../img/rogovaya-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: 86% 60px, -10px 350px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.travelmates__container {
  margin: 0 auto 57px;
  padding: 0 25px;
}

.travelmates__header {
  margin: 0 0 23px;
  font-size: 24px;
  line-height: 1;
  font-weight: bold;
  color: #ff8d30;
}

.travelmates__container p {
  margin-bottom: 27px;
  margin-top: 0;
  font-weight: 300;

  &:last-child {
    margin-bottom: 0;
  }
}

.travelmates__container b {
  display: block;
}

.travelmates__item {
  margin-bottom: 10px;

  &:last-child {
    margin-bottom: 20px;
  }
}

.travelmates__list--catalog {
  padding: 0 25px;
}

.travelmates__show-more {
  display: block;
  margin: 0 25px 18px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  text-align: center;
  text-transform: uppercase;
  color: #1d2e5b;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  &::before {
    content: "";
    display: inline-block;
    vertical-align: text-top;
    width: 18px;
    height: 18px;
    margin-right: 15px;
    background-image: url("../img/icons/show-more-plus.svg");
    background-repeat: no-repeat;
  }
}

.travelmates__pagination {
  margin-bottom: 46px;
  padding: 0 25px;
}

@media (min-width: $tablet-width) {
  .travelmates--preview {
    margin-top: -60px;
    padding: 200px 75px 88px;
    background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@1x.png");
    background-position: 84% 140px, 40px 474px;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
  }

  .travelmates__header {
    position: relative;
    margin-bottom: 45px;
    font-size: 45px;

    &::before {
      content: "";
      position: absolute;
      top: -60px;
      left: -35px;
      z-index: -1;
      width: 213px;
      height: 213px;
      background-color: #141b3b;
      border-radius: 20px;
    }
  }

  .travelmates__container {
    padding: 0;
  }

  .travelmates__container p {
    margin-bottom: 32px;
    padding-right: 120px;

    &:last-of-type {
      max-width: 265px;
      margin-bottom: 43px;
      padding-right: 0;
    }
  }

  .travelmates__container b {
    font-size: 21px;
    line-height: 1.19;
  }

  .travelmates--preview .travelmates__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 70px;
  }

  .travelmates--preview .travelmates__item {
    margin-bottom: 10px;
  }
}

@media (min-width: $tablet-width) {
  .travelmates__list--catalog {
    padding: 0 40px;
  }

  .travelmates__show-more {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 1.5;

    &::before {
      width: 27px;
      height: 27px;
      background-size: 27px 27px;
    }
  }
}

@media (min-width: $desktop-width) {
  .travelmates--preview {
    padding-top: 190px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-image: none;
  }

  .travelmates__inner {
    position: relative;
    max-width: $desktop-width;
    margin-left: auto;
    margin-right: auto;
    padding-left: 130px;
    padding-right: 59px;
    padding-bottom: 133px;
    background-image: url("../img/rogovaya-back-desktop@1x.png"), url("../img/smolov-back-desktop@1x.png");
    background-position: 188px 258px, 540px 3px;
    background-repeat: no-repeat;
  }

  .travelmates__header {
    margin-bottom: 55px;

    &::before {
      top: -62px;
      left: -70px;
    }
  }

  .travelmates__container,
  .travelmates__btn {
    margin-right: 650px;
  }

  .travelmates__container p {
    max-width: 460px;
    margin-bottom: 45px;
    padding-right: 0;

    &:last-child {
      margin-bottom: 84px;
    }
  }

  .travelmates__list--preview {
    position: absolute;
    top: 3px;
    right: 59px;
  }

  .travelmates__list--catalog {
    width: 950px;
    padding: 0;
  }

  .travelmates__show-more {
    margin-bottom: 70px;
    font-size: 20px;
    line-height: 1.5;

    &::before {
      margin-right: 24px;
    }
  }
}
