.travelmates-filter {
  margin: 0 25px 28px;
  padding: 26px 0 22px;
  background-color: #ffd74b;
  border-radius: 20px;
}

.travelmates-filter__title {
  margin: 0 0 30px;
  padding: 0 25px;
  font-size: 22.5px;
  font-weight: bold;
  line-height: 1;
  color: #1d2e5b;
}

.travelmates-filter__form {
  padding: 0 20px;
}

.travelmates-filter__fieldset {
  position: relative;
  margin: 0 5px 20px;
  padding: 0;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: -11px;
    display: block;
    width: 100%;
    height: 1px;
    background-color: #f3c72b;
  }

  &:last-of-type {
    margin-bottom: 24px;
  }
}

.travelmates-filter__legend {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-weight: bold;
  line-height: 1.13;
  color: #1d2e5b;
  text-transform: uppercase;
  cursor: pointer;

  &--expanded {
    margin-bottom: 12px;
  }

  &:hover,
  &:focus {
    color: rgba(29, 46, 91, 0.6);
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

.travelmates-filter__btn {
  padding: 0;
  border: none;

  & svg {
    fill: #192144;
  }

  &:active svg {
    opacity: 0.3;
  }

  &--expanded {
    transform: rotateY(180deg);
  }
}

.travelmates-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.travelmates-filter__item label {
  font-size: 15px;
  line-height: 1;
  color: $basic-text;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(68, 68, 68, 0.6);
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.travelmates-filter__submit {
  width: 100%;
  padding: 5px;
  font-size: 17px;
  font-weight: bold;
  line-height: 1.76;
  color: #161c35;
  text-transform: uppercase;
  background-color: #ffffff;
  border: none;
  border-radius: 25px;

  &:hover,
  &:focus {
    box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
  }

  &:active {
    background-color: #f3c72b;
  }
}
