.travelmates-filter {
  margin: 0 25px 28px;
  padding: 26px 0 22px;
  background-color: #ffd74b;
  border-radius: 20px;
}

.travelmates-filter__title {
  margin: 0 0 30px;
  padding: 0 25px;
  font-size: 22.5px;
  font-weight: bold;
  line-height: 1;
  color: #1d2e5b;
}

.travelmates-filter__form {
  padding: 0 20px;
}

.travelmates-filter__fieldset {
  margin: 0 5px 20px;
  padding: 0;
  border: none;

  &:last-of-type {
    margin-bottom: 24px;
  }
}

.travelmates-filter__legend {
  position: relative;
  width: 100%;
  font-weight: bold;
  line-height: 1.13;
  color: #1d2e5b;
  text-transform: uppercase;
  cursor: pointer;

  & span {
    display: none;
  }

  &--expanded {
    margin-bottom: 12px;
  }

  &:hover,
  &:focus {
    color: rgba(29, 46, 91, 0.6);
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }

  &::before {
    content: "";
    position: absolute;
    top: -11px;
    width: 100%;
    height: 1px;
    background-color: #f3c72b;
  }
}

.travelmates-filter__btn {
  position: absolute;
  top: 2px;
  right: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin-top: -2px;
  padding: 0;
  background-color: transparent;
  border: none;
  transform: rotate(180deg);

  &::after {
    content: "";
    display: block;
    width: 8px;
    height: 4px;
    background-image: url("../img/icons/dropdown.svg");
    background-repeat: no-repeat;
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.6;
  }

  &:active::after {
    opacity: 0.3;
  }

  &--expanded::after {
    transform: rotate(180deg);
  }
}

.travelmates-filter__list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--hidden {
    display: none;
  }
}

.travelmates-filter__list.transport {
  justify-content: flex-start;
  margin-bottom: 10px;
}

.travelmates-filter__label {
  display: block;
  margin-bottom: 8px;
  font-size: 15px;
  line-height: 1;
  color: $basic-text;
  cursor: pointer;

  &:hover,
  &:focus {
    color: rgba(68, 68, 68, 0.6);
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

.travelmates-filter__label span {
  display: inline-block;
  vertical-align: baseline;
  width: 18px;
  height: 18px;
  margin-right: 8px;
  padding: 2px 5px;
  background-color: #ffffff;
  border-radius: 4px;
}

input[type="checkbox"] + .travelmates-filter__label svg {
  opacity: 0;
}

input[type="checkbox"]:hover + .travelmates-filter__label span,
input[type="checkbox"]:focus + .travelmates-filter__label span {
  background-color: rgba(255, 255, 255, 0.6);
}

input[type="checkbox"]:active + .travelmates-filter__label span {
  background-color: rgba(255, 255, 255, 0.3);
}

input[type="checkbox"]:checked + .travelmates-filter__label svg {
  opacity: 1;
}

input[type="checkbox"]:active:checked + .travelmates-filter__label svg {
  opacity: 0.2;
}

.travelmates-filter__submit {
  width: 100%;
  border: none;
}

@media (min-width: $tablet-width) {
  .travelmates-filter__title {
    margin-bottom: 38px;
    font-size: 30px;
    line-height: 1;
  }

  .travelmates-filter {
    margin: 0 40px 40px;
    padding: 33px 35px 38px;
  }

  .travelmates-filter__fieldset {
    margin-left: 0;
    margin-right: 0;

    &:first-of-type {
      padding-top: 30px;
      border-top: 1px solid #f3c72b;
    }

    &:nth-of-type(4) {
      margin-bottom: 12px;
    }

    &:last-of-type {
      padding-bottom: 37px;
      margin-bottom: 36px;
      border-bottom: 1px solid #f3c72b;
    }
  }

  .travelmates-filter__title,
  .travelmates-filter__form {
    padding: 0;
  }

  .travelmates-filter__legend {
    float: left;
    width: 116px;
    margin-right: 8px;
    margin-bottom: 0;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;

    & span {
      display: inline;
    }

    &::before {
      display: none;
    }
  }

  .travelmates-filter__list {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
  }

  .travelmates-filter__item {
    flex: 0 0 164px;
  }

  .travelmates-filter__label {
    margin: 2px 0;
    font-size: 20px;

    & span {
      width: 24px;
      height: 24px;
      margin-right: 6px;
      padding: 2px 6px;
    }

    & svg {
      width: 12px;
      height: 12px;
    }
  }

  .travelmates-filter__btn {
    display: none;
  }

  .travelmates-filter__list.transport {
    margin-bottom: 0;
  }

  .travelmates-filter__list.range-slider {
    align-items: center;
    flex-direction: row-reverse;
    justify-content: space-between;
    flex-wrap: nowrap;
  }

  .travelmates-filter__list .range-slider__track {
    min-width: 277px;
    margin-right: 61px;
  }
}
