.trip__inner {
  padding: 0 5px;
}

.trip__route-box {
  position: relative;
}

.trip__route {
  margin: 0;
  padding: 0;
  list-style: none;

  &--edit {
    position: absolute;
    top: 0;
    right: 0;
  }
}

.trip__letters {
  margin-bottom: 0;
  font-weight: 500;
}

.trip__countries {
  padding: 15px 20px;
  border: 1px solid #cbced9;
  border-top: none;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
}

.trip__countries-box {
  display: none;

  &--expanded {
    display: block;
  }
}

.trip__route-item {
  position: relative;
  margin-bottom: 22px;

  &:not(:last-of-type)::before {
    content: "";
    position: absolute;
    right: 50px;
    bottom: -16px;
    width: 5px;
    height: 10px;
    background-image: url("../img/icons/small-arrow.svg");
    background-repeat: no-repeat;
  }
}

.trip__country {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 12px 11px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  text-align: left;
  color: #1d2e5b;
  background-color: #ffffff;
  border: 1px solid #cbced9;
  border-radius: 4px;

  &--dropdown:hover,
  &--dropdown:focus {
    border-color: #959bb2;
  }

  &--dropdown .trip__dropdown-icon {
    display: block;
    opacity: 0.3;
  }

  &--dropdown:hover .trip__dropdown-icon,
  &--dropdown:focus .trip__dropdown-icon {
    opacity: 0.5;
  }

  &--dropdown .trip__dropdown-hide-icon {
    display: none;
  }

  &--expanded .trip__dropdown-icon {
    display: none;
  }

  &--expanded .trip__dropdown-hide-icon {
    display: block;
    opacity: 0.3;
  }

  &--expanded:hover .trip__dropdown-hide-icon,
  &--expanded:focus .trip__dropdown-hide-icon {
    opacity: 1;
  }

  &--expanded:active .trip__dropdown-hide-icon {
    opacity: 0.1;
  }

  &--dropdown,
  &--add {
    width: 100%;
  }

  &:not(.trip__country--selected)::before {
    content: "";
    position: absolute;
    top: 17px;
    right: 48px;
    z-index: 1;
    width: 8px;
    height: 8px;
    border: 1px solid #cbced9;
    border-radius: 50%;
  }

  &--dropdown::before {
    background-color: #ffffff;
  }

  &--add::before {
    background-color: #edeff6;
  }

  &--expanded {
    color: #ffffff;
    background-color: #1d2e5b;
  }

  &--expanded::before,
  &--expanded .trip__country-name::after {
    display: none;
  }

  &--selected {
    width: calc(100% - 52px);
  }

  &--selected::before {
    content: "";
    position: absolute;
    top: 17px;
    right: -4px;
    width: 8px;
    height: 8px;
    background-color: #1d2e5b;
    border-radius: 50%;
  }

  &--selected .trip__country-name {
    width: calc(100% - 20px);
    white-space: nowrap;
    overflow: hidden;
  }

  &--selected .trip__country-name::after {
    content: "";
    position: absolute;
    right: 18px;
    top: 8px;
    width: 6px;
    height: 22px;
    background: rgba(255, 255, 255, 0);
    box-shadow: -16px 0 11px 2px #ffffff;
  }

  &--add {
    background-color: $main-bg;
    border-color: $main-bg;
  }

  &--add:hover,
  &--add:focus {
    background-color: #dfe3f0;
    border-color: #dfe3f0;
  }

  &--add:active {
    color: rgba(29, 46, 91, 0.3);
    background-color: #dfe3f0;
    border-color: #dfe3f0;
  }

  &--add svg {
    opacity: 0.2;
  }

  &--add:hover svg,
  &--add:focus svg {
    opacity: 0.3;
  }

  &--add:active svg {
    opacity: 0.1;
  }
}

.trip__edit {
  position: relative;
  width: 52px;
  height: 42px;
  margin-bottom: 22px;
  border: 1px solid #cbced9;
  border-radius: 4px;
  border-left-color: transparent;
}

.trip__flag {
  display: block;
}

.trip__remove-btn {
  position: absolute;
  top: -11px;
  right: -11px;
  width: 21px;
  height: 21px;
  padding: 0;
  background-color: $main-bg;
  border: none;
  border-radius: 50%;

  & svg {
    display: block;
    width: 9px;
    height: 9px;
    margin: auto;
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .trip__route {
    &--edit::before {
      content: "";
      position: absolute;
      top: -41px;
      right: 96px;
      width: 1px;
      height: 329px;
      background-color: #d6d9e6;
    }

    &--edit::after {
      content: "";
      position: absolute;
      top: 288px;
      right: 96px;
      width: 1px;
      height: 106px;
      background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, #d6d9e6 100%);
    }
  }

  .trip__route-item {
    width: calc(100% - 161px);
    margin-bottom: 15px;

    &:not(:last-of-type)::before {
      display: none;
    }

    &:last-of-type {
      margin-bottom: 49px;
    }
  }

  .trip__country {
    width: 100%;
    height: 70px;
    padding: 16px 26px;
    font-size: 20px;
    line-height: 0.9;
    letter-spacing: 2px;

    &--selected::before {
      top: 27px;
      right: -34px;
      z-index: 1;
      width: 15px;
      height: 15px;
    }

    &:not(.trip__country--selected)::before {
      top: 27px;
      right: -34px;
      width: 15px;
      height: 15px;
    }

    & .trip__dropdown-icon {
      width: 17px;
      height: 9px;
    }

    &--dropdown + .trip__remove-btn {
      right: -165px;
    }

    &--expanded .trip__dropdown-hide-icon {
      width: 17px;
      height: 17px;
    }
  }

  .trip__route--edit {
    right: 39px;
  }

  .trip__edit {
    width: 70px;
    height: 70px;
    margin-bottom: 15px;
    padding-top: 11px;
    border: none;
  }

  .trip__flag {
    width: 70px;
    height: 47px;
  }

  .trip__remove-btn {
    top: 22px;
    right: -43px;
    background-color: transparent;
    opacity: 0.3;

    & svg {
      width: 17px;
      height: 17px;
    }
  }

  .trip__countries-box {
    position: absolute;
    z-index: 5;
    display: none;
    flex-wrap: wrap;
    padding-top: 34px;
    padding-left: 27px;
    padding-bottom: 59px;
    width: 575px;
    background-color: #ffffff;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);

    &--expanded {
      display: flex;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 206px;
      width: 1px;
      height: 100%;
      background-color: rgba(68, 68, 68, 0.2);
    }
  }

  .trip__letters {
    align-content: flex-start;
    width: 266px;
    margin-right: 79px;
  }

  .trip__letters .letters__link {
    width: 54px;
    height: 70px;
    padding-top: 23px;
    font-size: 20px;
    font-weight: 500;
    line-height: 0.9;
    letter-spacing: 2px;
  }

  .trip__countries {
    padding-top: 0;
    border: none;
    box-shadow: none;
  }
}

@media (min-width: $desktop-width) {
  .trip__inner {
    margin-bottom: 56px;
    padding: 0;
  }

  .trip__country {
    &--selected::before {
      top: 27px;
      right: -53px;
      z-index: 1;
      width: 15px;
      height: 15px;
    }

    &:not(.trip__country--selected)::before {
      right: -53px;
    }
  }

  .trip__route-item {
    max-width: 730px;
  }

  .trip__route {
    &--edit {
      right: 110px;
    }

    &--edit::before {
      top: -62px;
      right: 116px;
      height: 442px;
    }

    &--edit::after {
      top: 378px;
      right: 116px;
    }
  }

  .trip__remove-btn {
    right: -112px;

    & svg {
      width: 18px;
      height: 18px;
    }
  }

  .trip__country--dropdown + .trip__remove-btn {
    right: -274px;
  }

  .trip__countries-box {
    width: 730px;
    padding-bottom: 19px;

    &::before {
      right: 239px;
    }

    &--expanded {
      display: flex;
    }
  }

  .trip__letters {
    width: 370px;
    margin-right: 92px;
  }

  .trip__letters .letters__link {
    width: 60px;
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 4px;
  }

  .trip__letter:nth-child(5n) .letters__link {
    width: 60px;
  }
}
