.user-profile {
  padding: 23px 25px 32px;
}

.user-profile__top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 19px;
  padding: 0 18px;
}

.user-profile__picture {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.user-profile__picture img {
  display: block;
}

.user-profile__level .progress-bar__number {
  padding-left: 4px;
  padding-right: 4px;
  font-size: 38px;
  line-height: 1;
  color: #161c35;
  border-bottom: 2px solid #cbced9;
}

.user-profile__level {
  width: 100px;
  height: 100px;
}

.user-profile__level .progress-bar__circle {
  width: 100px;
  height: 100px;
}

.user-profile__level .progress-bar__level {
  font-size: 18px;
  line-height: 1.22;
  color: $basic-text;
}

.user-profile__btn {
  width: 100%;
  margin-bottom: 34px;
  border: none;

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

.user-profile__fieldset {
  position: relative;
  margin: 0 0 23px;
  padding: 0;
  border: none;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.user-profile__legend {
  position: absolute;
  top: -8px;
  left: 50%;
  padding-left: 16px;
  padding-right: 16px;
  font-weight: bold;
  line-height: 1.13;
  color: #1d2e5b;
  background-color: $main-bg;
  text-transform: uppercase;

  &--tags {
    margin-left: -34px;
  }

  &--transport {
    margin-left: -56px;
  }
}

.user-profile__textarea,
.user-profile__fieldset .transport {
  padding: 15px;
  border: solid 1px #cbced9;
  border-radius: 10px;
}

.user-profile__textarea {
  display: block;
  width: 100%;
  min-height: 60px;
  height: auto;
  padding: 22px 20px;
  resize: none;
  overflow: hidden;
  overflow-y: auto;
  background-color: transparent;

  &:hover {
    border-color: #aeb4cb;
  }

  &:active,
  &:focus {
    border-color: #161c35;
  }

  &::-webkit-input-placeholder {
    color: rgba(68, 68, 68, 0.6);
  }

  &::-moz-placeholder {
    color: rgba(68, 68, 68, 0.6);
  }

  &:-ms-input-placeholder {
    color: rgba(68, 68, 68, 0.6);
  }
}

@media (min-width: $tablet-width) {
  .user-profile {
    position: relative;
    padding: 64px 75px 60px;
  }

  .user-profile__top {
    margin-bottom: 52px;
    padding: 0;
  }

  .user-profile__picture {
    width: 94px;
    height: 94px;
    border-radius: 5px;
  }

  .user-profile__level {
    width: 94px;
    height: 94px;
    padding: 0;
  }

  .user-profile__level .progress-bar__circle {
    width: 94px;
    height: 94px;
  }

  .user-profile__btn {
    margin-bottom: 50px;
    padding: 21px;
    line-height: 0.9;
    font-weight: 500;
    letter-spacing: 2px;
    color: #1d2e5b;
    border-radius: 10px;
  }

  .user-profile__fieldset,
  .user-profile__legend,
  .user-profile__fieldset .transport,
  .user-profile__textarea {
    transform: rotate(180deg);
  }

  .user-profile__legend {
    z-index: 2;
    font-size: 20px;
    line-height: 0.9;
    font-weight: 500;
    letter-spacing: 2px;

    &--transport {
      margin-left: -75px;
    }

    &--tags {
      margin-left: -41px;
    }
  }

  .user-profile__fieldset {
    margin: 0;
    padding: 0;

    &--transport {
      position: absolute;
      top: 64px;
      left: 50%;
      width: 308px;
      min-height: 94px;
      margin-left: -154px;
    }
  }

  .user-profile__fieldset .transport {
    min-height: 94px;
    padding-top: 23px;
  }

  .user-profile__textarea {
    padding: 32px 38px 12px;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media (min-width: $desktop-width) {
  .user-profile {
    padding: 0 0 65px;
  }

  .user-profile__inner {
    position: relative;
    max-width: $desktop-width;
    margin-left: auto;
    margin-right: auto;
    padding-top: 73px;
    padding-left: 124px;
    padding-right: 60px;
  }

  .user-profile__top {
    position: absolute;
    top: -190px;
    right: 155px;
    z-index: 4;
    width: 329px;
  }

  .user-profile__picture {
    width: 190px;
    height: 190px;
    border-radius: 20px 20px 0 0;
  }

  .user-profile__level.progress-bar {
    margin: 44px 0 0;
  }

  .user-profile__level .progress-bar__number,
  .user-profile__level .progress-bar__level {
    color: #ffffff;
  }

  .user-profile__level .progress-bar__number {
    border-color: rgba(255, 255, 255, 0.3);
  }

  .user-profile__btn {
    position: absolute;
    top: 0;
    right: 155px;
    width: 190px;
    margin: 0;
    padding: 15px;
    border-radius: 0 0 10px 10px;

    & span {
      display: none;
    }
  }

  .user-profile__bottom {
    display: flex;
    justify-content: space-between;
  }

  .user-profile__fieldset--transport {
    position: static;
    flex-basis: 384px;
  }

  .user-profile__fieldset--tags {
    flex-basis: 730px;
  }

  .user-profile__legend {
    &--tags {
      left: auto;
      right: 22px;
    }
  }
}
